<div class = 'container'>
<div class = "newPost">
    <h3>Create New Post</h3>
    <form>
        <label for= 'title'>Title</label>
        <input class = 'text' type="text" id = 'title' name = 'title'>
        <label for="content">Content</label>
        <input class = 'text' type="textarea" id = 'content' name = 'content'>
        <input id = 'createBtn' type="submit" value = "Create">
    </form>
</div>
</div>