<div class = 'container'>
<div class = "formContainer">
    <h3>Create New Post</h3>
    <form class = "createForm">
        <label for= 'title'>Title</label>
        <input class = 'text' type="text" id = 'title' name = 'title'>
        <label for="content">Content</label>
        <input class = 'text' type="textarea" id = 'content' name = 'content'>
        <input id = 'submitBtn' class="Btn" type="submit" value = "Create">
    </form>
    <script src = '/js/createPost.js'></script>
</div>
</div>