<div class= "container">
    {{#each user.blogs as |blog|}}    
            <a  href="/editpost/{{blog.id}}" class = 'dashBlog'>
                <h2>{{blog.blogName}}</h2>
                <p>{{format_date blog.updatedAt}}</p>
            </a> 
    {{/each}}
    <a class = "createBtn" href="/createpost/">+ New Post</a>
</div>