<div class= "container">
{{#each blogs as |blog|}}
<div class = 'blogDemo' >
    <div class = 'demoTitle'>
        <a href="/blog/{{blog.id}}"><h2>{{blog.blogName}}</h2></a>
        <p>{{blog.user.userName}}</p>
    </div>
    <p>
        {{blog.content}}
    </p>
</div>    
{{/each}}
<script src = '/js/logout.js'></script>
</div>