<div class = 'container'>
<div class = "formContainer">
    <h3>Sign Up</h3>
    <form class = "signUp">
        <label for= 'title'>User Name</label>
        <input class = 'text' type="text" id = 'userName' name = 'userName'>
        <label for="content">Password</label>
        <input class = 'text' type="text" id = 'password' name = 'password'>
        <input id = 'submitBtn' type="submit" value = "Sign Up">
        <a href="/login">Login Instead</a>
    </form>
    
</div>
<script src = "/js/signUp.js"></script>
</div>