/*main handlebars layout styling */
    /*This portion of the css is meant to style the main layout of the site, it contains styling for the header and sizing
    for the content containers that should remain the same through out all possible screens */
    
    /*
        Here we establish most of the color variables we will be using for our pallete, 
        obtained from the example display given for reference
    */
    :root
        {
            --Current_green: rgb(217,234,211);
            --Current_grey: rgb(161,160,162);
            --Currnet_black: rgb(35,16,16);
        }

    /*
        This initial declaration of sizing for the whole page will allow us to control
        the way the page is allowed to display as it is zoomed in and out from, it will
        also allow for easier inheratance of sizing to children elements
    */
    .wholePageContainer
        {   
         
            background-color: var(--Current_green);
            margin: 0 auto;
            width: 100vw;
            height: 98vh;
            max-width: 1920px;
        }

    /*
        This Header Section contains the styling for the navigation bar and the title of the entire page
        found at the top of the display
    */
    header
        {
            color: var(--Current_green);
            background-color: var(--Currnet_black);
            width: 100%;
            height: 250px;
        }
        .titleContainer
            {
                padding: 30px 50px;
                width: 500px;
            }
        nav
            {
                margin: 20px 0 50px 0;
                display: flex;
                justify-content: space-around;
                width: 100%;
            }
            nav a
                {
                    font-size: xx-large;
                    color: var(--Current_green);
                    text-decoration: none;
                }

        h1
            {
                text-align: center;
                width: 100%;
                border-radius: 10px;
                color: var(--Currnet_black);
                background-color: var(--Current_green);
                box-shadow: 5px 5px var(--Current_grey);
            }

    /*
        This container is established to house what ever the main body will end up being up
        rendering the new page with an established size for inhereting 
    */
    main
        {
            background-color: var(--Current_green);
            width: 98%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
/*Styling for the main page ends here*/

/*Component Styling*/
        /*This portion of the css focuses of styling of classes that will be used for components established through out a
        number of the possible screens since each page will use some variation of a component general setting can be used*/

    /*
        The container is used to place the contents of each page at the center of the body container with out having to caluclate
        sizing for each individual component
    */            
    .container
        {
            width: 80%;
            margin: 30px auto;
            display: flex;
            flex-direction: column;
        }
    /*
        This next Portion of styling is meant for the card type display component that will house the main blog, meaning
        its title and content each element might link or operate a little different from page to page but will appear the same.
    */
.dashBlog
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: gray;
    color: whitesmoke;
    text-decoration: none;
    height: 50px;
    margin: 20px 0;
    border-radius: 10px;
    align-items: center;
}
.dashBlog h2
{
    margin: 0 30px;
}
.dashBlog p
{
    margin: 0 30px;
}


.blogDemo
{
    text-decoration: none;
    height: auto;
    width: 100%;
    margin: 20px 0;
    border: 5px solid var(--Currnet_black);
}

.demoTitle
{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Current_green);
    background-color: var(--Currnet_black);
}

.demoTitle a
{
    color:  var(--Current_green);
    text-decoration: none;
    margin: 0 30px;
}

.demoTitle h2
{
    margin: 0 30px;
}

.demoTitle p
{
    color: var(--Current_green);
    margin: 0 30px;
}

.blogDemo p
{
    margin: 15px 30px;
}

/*This is the end of the styling for homepage*/

.commentCard
{
    width: 100%;
    margin: 0 0 20px 0;
    border: 5px solid var(--Currnet_black);
    border-top: 30px solid var(--Currnet_black);
}

.commentCard p
{
    margin: 15px 30px;
}

.createBtn
{  
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 230px; 
    height: 100px; 
    align-self: center;
    font-size: xx-large;
    border-radius: 10px;
    text-decoration: none;
    color: var(--Current_green);
    background-color: var(--Currnet_black);


}

/*This is the end of the styling for the individual blogView*/

.formContainer
{
    border: 5px solid var(--Currnet_black);
    width: 100%;
    height: 400px;
}

.formContainer h3
{
    margin: 0;
    height: 30px;
    width: 100%;
    color: var(--Current_green);
    background-color: var(--Currnet_black);
}

.formContainer form
{
    height: 90%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.formContainer form label
{
    margin: 10px 0;
    font-size: xx-large;
    color: var(--Currnet_black);
}

.formContainer  .text
{
    height: 50px;
    border: 3px solid rgb(65, 128, 232);

}

.formContainer #title
{
    height: 50px;
}

.formContainer #content
{
    height: 100px;
}

.formContainer .Btn
{
    margin: 20px 0 0 0;
    font-size: xx-large;
    color: white;
    background-color: grey;
    border-radius: 10px;
    height: 50px;
}

.formContainer a
{
    font-size: xx-large;
    color: rgb(65, 128, 232);
    text-decoration: none;
}