<div class = 'container'>
<div class = "formContainer">
    <h3>Login</h3>
    <form class = "login">
        <label for= 'title'>User Name</label>
        <input class = 'text' type="text" id = 'userName' name = 'userName'>
        <label for="content">Password</label>
        <input class = 'text' type="text" id = 'password' name = 'password'>
        <input id = 'submitBtn' class="Btn" type="submit" value = "Login">
        <a href="/signup">Sign Up  Instead</a>
    </form>
    
</div>
<script src = "/js/login.js"></script>
</div>